# frozen_string_literal: true

class CreateAddresses < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :addresses do |t|
      t.string :line1
      t.string :line2
      t.string :city
      t.string :state
      t.string :country
      t.string :zip_code
      t.references :addressable, polymorphic: true, index: true

      t.timestamps
    end
  end
end
